*{
  font-family: 'Be Vietnam Pro', sans-serif;
  color: rgb(83, 83, 83);
}

body {
  background: #262938;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
