.nopadding {
    padding: 0%;
    margin: 0px 200px;
}

.test {
    margin-inline-start: auto !important;
    margin: 12px;
}

.backgroundColor{
    background-color: rgba(223, 223, 223, 0.822);

}
.dateShape {
    background-color: #ffffffd2;
    /* display: none; */

}

.card-header {
    font-weight: bold;
    font-size: 20px;
    border-bottom-width: thin;
}

.card {
    border-radius: 25px;
    margin-top: 5px ;
    margin-bottom: 5px;
    /* background: rgba(24, 24, 16, .1); */
}

p{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab-content {
    padding: 0px 25px;
}

#myList {
    padding: 15px;
    color: rgb(83, 83, 83);
}

.Button {
    text-align: right;
    /* padding: 0px 2px 0 0 ; */
}

button {
    margin: 0 10px 0 0 ;
}

.edit {
    background-color: #6cc6cd;
    color: #ffffff;
}

.confirm-box__content {
    display: flex;
    font-size: medium;
    width: 500px;
    height: 150px;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    position: fixed;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    left: 450px;
    color: rgb(83, 83, 83);
    font-size: 20px;
    font-weight: bold;
}

.confirm-box__actions {
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* text-align: center; */
}

.confirm-box__content button {
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    display: inline-block;
    width: 50px;
    background-color: lightcoral;
    border: none;

}
/* .toDo {
    background-color: red;
} */

@media only screen and (max-width: 600px) {
    .nopadding {
        margin: 0px 70px 0px 70px !important;
    }

    .card {
        display:flex;
    }
}
