/* *{
    font-family: 'Be Vietnam Pro', sans-serif;
} */

.display {
    display: none;
}
#card{
    display: none;
}

.cardShape {
    border-radius: 25px;
    background-color: #ffffffd2;
    margin: 0px 200px 100px 200px;
}

.form {
    padding: 50px;
    margin-bottom: 20px;
}

.warning {
    display: none;
}

.button{
    background: #6cc6cd;
    background: -webkit-linear-gradient(to right, #6cc6cd, #eae5c9);
    background: linear-gradient(to right, #6cc6cd, #eae5c9);
}

@media only screen and (max-width: 600px) {
    .cardShape{
        margin: 0px 70px 70px 70px;
    }
}