.display {
    display: none;
}

#card{
    display: none;
}

.cardShape {
    border-radius: 25px;
    background-color: #ffffffd2;
    margin: 0px 200px 100px 200px;
}

/* .clr1{
    background-color: #6cc6cd;
} */

.form {
    padding: 50px;
}

.warning {
    display: none;
}

.button{
    background: #6cc6cd;
    background: -webkit-linear-gradient(to right, #6cc6cd, #eae5c9);
    background: linear-gradient(to right, #6cc6cd, #eae5c9);
}

.cont {
    background-color: #6cc6cd;
}

@media only screen and (max-width: 600px) {
    .cardShape{
        margin: 0px 70px 70px 70px;
    }
}

@media only screen and (max-width: 890px) {
    .cardShape {
        margin: 10px 20px 0px 20px ;
    }
}