.nopadding {
    padding: 0%;
    margin: 0px 70px;
}

.test {
    margin-inline-start: auto !important;
    margin: 12px;
}

.backgroundColor{
    background-color: rgba(223, 223, 223, 0.822);

}
.dateShape {
    background-color: #ffffffd2;

}

.toDo {
    background-color: red;
}