.App {
  /* fallback for old browsers */
  background: #6cc6cd;
    
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #6cc6cd, #eae5c9);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #6cc6cd, #eae5c9);
}

