.placeButtom {
    margin: 0px 650px;
}

.topic {
    letter-spacing: 10px
}

.inline {
    align-items: baseline;
}

.circle {
    border-radius: 50px;
    /* background-color: gray !important; */
}

@media screen and (max-width: 400px) {
    #add {
        right: 10px;
    }
}


