/* all done to do button */
.size{
    font-size: 20px;
}
/* all done to do button */
.size-num{
    font-size: 12px;
}
/* all done to do button */
.box{
    border: .5px solid ;
    border-radius: 5px;
    border-color: #262938;
    margin-top: 20px;
    height: 45px;
}

.btn-group button btn1{
    margin-right: 10px;
}

.btn-group button btn{
    margin: 0;
}

.btn-group button bt2{
    margin-left: 10px;
    margin-right: 0;
}


.placeTop {
    margin: 100px 200px 5px 200px ;
}

.inline {
    align-items: baseline;
}

.circle {
    border-radius: 50px;
}

.outerShape {
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    opacity: 0.95;
}

.now-date{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: rgb(83, 83, 83);
    /* position: absolute;
    left: 320px;
    top: 250px; */
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: rgb(83, 83, 83);
}


.school-button {
    background-color: #3a6b72;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out .5s;
    outline: none;
    color: #ffffff;
}

.school-button:hover,
.school-button:focus {
    box-shadow: inset 300px 0 0 0 #3a6b72;
    cursor: pointer;
    color: #ffffff;
}

.work-button {
    background-color: #4ea4bb;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out .5s;
    outline: none;
    color: #ffffff;
}

.work-button:hover,
.work-button:focus {
    box-shadow: inset 300px 0 0 0 #4ea4bb;
    cursor: pointer;
    color: #ffffff;
}

.home-button {
    background-color: #99e8f5;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out .5s;
    outline: none;
    color: #ffffff;
}

.home-button:hover,
.home-button:focus {
    box-shadow: inset 300px 0 0 0 #99e8f5;
    cursor: pointer;
    color: #ffffff;
}
/* .work-button:focus {
    border-color: rgb(83, 83, 83);
    background-color: #000000;
    color: rgb(255, 255, 255);
} */


.past-button {
    border: 1px solid;
    background-color: #ffffff;
    border-color: #262938;
    transition: ease-out 0.5s;
    outline: none;
    color: rgb(83, 83, 83);
    
}

.past-button:hover,
.past-button:focus  {
    box-shadow: inset 300px 0 0 0 #262938;
    cursor: pointer;
    color: #ffffff;
}


.today-button {
    border: 1px solid;
    background-color: #ffffff;
    border-color: #262938;
    transition: ease-out 0.5s;
    outline: none;
    color: rgb(83, 83, 83);
}

.today-button:hover,
.today-button:focus  {
    box-shadow: inset 300px 0 0 0 #262938;
    cursor: pointer;
    color: #ffffff;
}


.future-button {
    border: 1px solid;
    background-color: #ffffff;
    border-color: #262938;
    transition: ease-out 0.5s;
    outline: none;
    color: rgb(83, 83, 83);
}

.future-button:hover,
.future-button:focus  {
    box-shadow: inset 300px 0 0 0 #262938;
    cursor: pointer;
    color: #ffffff;
}

/* .future-button:focus {
   
} */

/* .sort {
    position: absolute;
    top: 10px;
} */


.test .sort {
    display: none;
}

.test:hover .sort {
    display: inline-block;
}

.sort {
    float: right; 
    margin-right: 15px;
    margin-top: 20px;
}

.list {
    /* margin-right: 100px;
    display:contents; */
    float: left; 
    margin-left: 15px;
    margin-top: 20px;
    background-color: #6cc6cd;
    color: rgb(83, 83, 83);
    width: 50px;
}

.fa-customize {
    font-size: 20px;
}

@media only screen and (max-width: 300px) {
    .button1, .button2{
        margin: 0;
        width: auto;
    }

    /* .test {
        margin-left: 5px;
        margin-bottom: 10px;
    } */
}

@media only screen and (max-width: 600px) {
    container .placeTop {
        margin: 100px 70px 0px 70px ;
    }
    .title {
        padding: 0;
        font-size: xx-large;
        font-family:  'Bebas Neue', cursive;
    }

    /* image on card-body */
    #Check {
        width: 90px;
    }

    .button1, .button2 {
        margin: 0;
        width: auto;
    }

    .test {
        margin: 0;
        /* margin-bottom: 10px; */
    }
}

@media only screen and (max-width: 890px) {
    .placeTop {
        margin: 100px 20px 0px 20px ;
    }
}

@media only screen and (max-width: 1250px) {
    .button1, .button2{
        margin: 0 5px;
        width: 100%;
    }

    /* .placeTop {
        margin: 100px 200px 5px 200px ;
    } */

    /* .type-1 {
        position: absolute;
        right: 400px;
        top: 250px;
    }
    
    .type-2 {
        position: absolute;
        right: 200px;
        top: 250px;
    }
    
    .type-3 {
        position: absolute;
        right: 110px;
        top: 250px;
    }
    
    .type-4 {
        position: absolute;
        right: 5px;
        top: 250px;
    } */
}

/* @media only screen and (min-width: 2480px) and (max-width: 1249px) {
    .placeTop {
        margin: 100px 700px 5px 700px ;
    }
} */