
.placeTop {
    margin: 100px 200px 5px 200px !important;
}

/* .header {
    height: 500px;
} */

/* .image {
    height: 100px;
} */

/* .button-bar {
    margin-bottom: 10px;
    margin-left: 5px;
} */


/* .topic {
    letter-spacing: 10px;
    padding: 0;
} */

.card-body-header {
    height: 280px;
}

.inline {
    align-items: baseline;
}

.circle {
    border-radius: 50px;
}

.outerShape {
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
}

/* button of the SORT and ALL */
/* .buttonShape {
    border-radius:10% 10%;
} */

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(83, 83, 83);
    /* position: absolute;
    left: 320px;
    top: 250px; */
}

.button1 {
    background-color: #6cc6cd;
    box-shadow: inset 0 0 0 0 #eae5c9;
    transition: ease-out 0.7s;
    border-radius: 10px;
    outline: none;
    /* margin-top: 15px; */
    width: 190px;
    /* box-shadow: #eae5c9; */
}

.button1:hover {
    box-shadow: inset 300px 0 0 0 #eae5c9;
    cursor: pointer;
    border-color: rgb(83, 83, 83);
    background-color: #ffffff;
}

.button2 { 
    background-color: #eae5c9;
    box-shadow: inset 0 0 0 0 #6cc6cd;
    transition: ease-out 0.7s;
    border-radius: 10px;
    outline: none;
    /* margin-top: 15px; */
    width: 190px;
    /* background: -webkit-linear-gradient(to right, #6cc6cd, #eae5c9);
    background: linear-gradient(to right, #6cc6cd, #eae5c9);  */
}

.button2:hover{
    box-shadow: inset 300px 0 0 0 #6cc6cd;
    cursor: pointer;
    border-color: rgb(83, 83, 83);
    background-color: #ffffff;
}

/* .sort {
    position: absolute;
    top: 10px;
} */


.test .sort {
    display: none;
}

.test:hover .sort {
    display: inline-block;
}

.sort {
    padding-top: 5px;
    margin: auto;
}

/* .type-1 {
    position: absolute;
    right: 610px;
    top: 250px;
}

.type-2 {
    position: absolute;
    right: 410px;
    top: 250px;
}

.type-3 {
    position: absolute;
    right: 210px;
    top: 250px;
}

.type-4 {
    position: absolute;
    right: 10px;
    top: 250px;
} */
/* .button3 {
    background-color: #eae5c9;
}

.button3:hover{
    background-color: #ffffff;
    border-color: rgb(83, 83, 83);
} */


.list {
    /* margin-right: 100px;
    display:contents; */
    float: left; 
    margin-left: 15px;
    margin-top: 20px;
    background-color: #6cc6cd;
    color: rgb(83, 83, 83);
    width: 50px;
    /* border: none; */
    /* padding: 6px 50px; */
}

.fa-customize {
    font-size: 20px;
}

@media only screen and (max-width: 300px) {
    .button1, .button2{
        margin: 0;
        width: auto;
    }

    /* .test {
        margin-left: 5px;
        margin-bottom: 10px;
    } */
}

@media only screen and (max-width: 600px) {
    container .placeTop {
        margin: 100px 70px 0px 70px !important;
    }

    /* .button-list {
        width: 100px;
    } */

    /* .card-body {
        padding: 0;
    } */
    
    .title {
        padding: 0;
        font-size: xx-large;
        font-family:  'Bebas Neue', cursive;
    }

    /* image on card-body */
    #Check {
        width: 90px;
    }

    .button1, .button2 {
        margin: 0;
        width: auto;
    }

    .test {
        margin: 0;
        /* margin-bottom: 10px; */
    }
}

@media only screen and (max-width: 890px) {
    .placeTop {
        margin: 100px 20px 0px 20px !important;
    }
}

@media only screen and (max-width: 1250px) {
    .button1, .button2{
        margin: 0 5px;
        width: 100%;
    }

    /* .type-1 {
        position: absolute;
        right: 400px;
        top: 250px;
    }
    
    .type-2 {
        position: absolute;
        right: 200px;
        top: 250px;
    }
    
    .type-3 {
        position: absolute;
        right: 110px;
        top: 250px;
    }
    
    .type-4 {
        position: absolute;
        right: 5px;
        top: 250px;
    } */
}